@import '../Variables.scss';

.header {
    
    display:flex;  
    justify-content: space-between;
    align-items: center;
    margin-top:30px;

     
        &__logo {
            
            width: 210px;
            margin-left: 80px;
        }


        &__nav{
                 
           display:flex;
           margin:20px;
           width:309px;
           
        }

        &__ul {

            display:flex;
            align-items: center;
        }

        &__link {

            font-size: 22px;
            font-weight: 500;
            text-align: right;
            color: $color-primary;
            padding:25px;
            display:flex;
            justify-content: space-between;
            text-decoration:none;
            
        }
  
} 


.active{
    text-decoration: underline;
   
}   

//Breakpoint tablette 
@media screen and (max-width:992px){

    .header__logo{

        width: 190px;
    }

    .header__img{

        width:100%;
    }

    .header__link{

        font-size:18px;
    }

}


// Breakpoint mobile
@media screen and (max-width:768px){

    .header__logo{      
        margin-left:20px;
        width:145px;
       
    }

    .header__img{
        height:47px;
        width:100%;
    }

    .header__nav{
        width:200px;
        margin-right:-5px;
    }

    .header__link{
        font-size:12px;
        padding:10px;
    }

}