@import '../variables';

.link {
    text-decoration: none;
}

.card {
    width:340px;
    height:340px;
    background: $color-card;
    border-radius:10px;
    margin:20px;
    background-color: $color-primary;

     
    &__img{

        width:100%;
        height:275px;
        border-radius:10px 10px 0px 0px;
        background-size: cover;
        background-position: center;
        object-fit: cover;
    }

    &__name {
        font-size:18px;
        font-weight:400;
        padding:8px;
        margin-left: 4px;
        color:white;
    }


    &:hover {   
        transition: 250ms;
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
    
}

// Breakpoint mobile
@media screen and (max-width:768px){

    .container{
        margin:0;
    }

    .card{

        width:100%;
        height:255px;
        margin-left: auto;
    
        &__img{

            height: 190px;
        }

       
    }

}