@import '../Variables.scss';


// Collapse fermé

.inactive{

    margin:20px;
    background-color: $color-primary;
    padding:9px;
    display:flex;
    align-items:center;
    cursor: pointer;
    border-radius:5px;

    
    &__title{
        
        font-size:24px;
        width:100%;
        color:white;
        text-align:left;
        padding-left:10px;
                
    }


    &__bloctext{

        background: #F6F6F6;
        margin:20px;
        margin-top:-20px;
        border-radius: 0px 0px 5px 5px;
        visibility:hidden;
        overflow: hidden;
        transition: all 2s ease-in;
        height:0;
        
    }
 
    &__text{
        color:$color-primary;
        padding:20px;
        font-size:24px;     
    }

     
}


// Collapse ouvert 

.active__icon{
    transform:rotate(180deg);
}



.active__bloctext{

    visibility:visible;
    overflow: visible;
    height:auto;
}
