
.ratings{

    margin-top:10px;
    display:flex;

    &__note {
        height: 30px;
        width: 30px;
        margin: 0px 6px 0px 0px;
    }

    
}

@media screen and (max-width:768px){

    .ratings{
               
        margin:0;
    
        &__note{
            height:15px;
            width:15px;
        }

    }
}