.carrousel{

    height:420px;
    overflow: hidden;
}

.container {

    height:415px;
    background-color: #f5f5f5;
    border-radius: 25px;
    position:relative;
    transition: opacity ease-in-out 400ms;
   
    &__img{
        position:absolute;
        height:100%;
        width:100%;
        border-radius: 25px;
        object-fit: cover;
       
    }

    &__active {
        opacity:1;
    }

}

.arrows{
    position:relative;
    display:flex;
    justify-content: space-between;
    margin:20px;
    bottom:265px;

    &__arrow{

        margin:0;
        cursor: pointer;
    }

}

.bulletpoint{

    position: relative;
    bottom: 160px;
    font-size: 18px;
    text-align:center;
    color: white;

}


// Breakpoint tablette
@media screen and (max-width:992px){

    .arrows{

       bottom:250px;

        &__arrow{
            width:35px;
            height:60px;
        }
    }

    .bulletpoint{
        bottom: 136px
    }

}


// Breakpoint mobile
@media screen and (max-width:768px){

    .body{

        margin: 20px 20px 0px 20px;
    }

    .carrousel{

        height:255px;
    }

    .container{
        border-radius: 10px;
        height:255px;

        &__img{

            border-radius: 10px;
        }
    }

    .arrows{

        bottom:150px;

        &__arrow{
            width:20px;
            height:30px;
        }
    }

    .bulletpoint{
        
       display:none;
    }

}