.container {

    height:415px;
    background-color: #f5f5f5;
    border-radius: 25px;
    position:relative;
    overflow:hidden;
    transition: opacity ease-in-out 400ms;
   
    &__img{
        position:absolute;
        height:100%;
        width:100%;
        border-radius: 25px;
        object-fit: cover;
       
    }

    &__active {
        opacity:1;
    }

}

.arrows{
    position:relative;
    display:flex;
    justify-content: space-between;
    margin:20px;
    bottom:265px;

    &__arrowleft{

        margin:0;
    }

    &__arrowright{

        margin:0;
    }
}