@import '../variables';

.tags{
  
    margin-top:20px;

    &__names{

        background-color: #FF6060;
        border-radius: 10px;
        color: white;
        font-size: 14px;
        padding: 5px 10px;
        min-width: 115px;
        text-align: center;
        margin: auto 10px;
        display: inline-block;
        margin-left:0;
    }

}

// Breakpoint mobile
@media screen and (max-width:768px){

    .tags{
        display:inline-flex;
        flex-wrap: wrap;
        gap:12px 0;

        &__names{
            font-size: 10px;
            border-radius:5px;
        }
    }

}