@import'../variables';

.body {
    height:1024px;
     
}

.error {

    color:$color-primary;
    text-align:center;
    font-size:288px;
    margin-top:120px;

    &__text{
        color:$color-primary;
        text-align:center;
        font-size:36px;
        margin-top:40px;
        font-weight: 500;
    }

    &__link{
        color:$color-primary;
    }

    &__return {
        text-align:center;
        font-size:18px;
        margin-top:180px;
        font-weight:500;
    }

}

// Breakpoint tablette
@media screen and (max-width:992px){

    .error{

        font-size:200px;
        
        &__text{
            font-size:30px;
        }
    }

}

// Breakpoint mobile
@media screen  and (max-width:768px) {

    .error{

        font-size:96px;

        &__text{

            font-size:18px;
        }

        &__return{

            font-size:14px;
        }
    }
    
}